.html,
.body{
  height: 100%;
}

.hidden {
  display: none;
}

.bgImageClass {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.colorWhite{
  color: white;
}

#login-form {
  text-align: center;
  margin-top: 35%;
}

#nameInput{
  border: none;
  border-bottom: solid 3px white;
  background-color: transparent;
  width: 500px;
  height: 100px;
  font-size: 50px;
  color: white;
}

#nameInput:focus{
  outline: none;
}

#nameInput::placeholder{
  color: white;
  font-size: 50px;
  text-align: center;
}

#submit{
  border: none;
  width: 100px;
  height: 100px;
  font-size: 30px;
  background-color: transparent;
}

#clock{
  margin-top: 20%;
  text-align: center;
  font-size: 120px;
  margin-bottom: 0px;
}

#greeting{
  margin-top: -10px;
  text-align: center;
  font-size: 50px;
}

#todo-form{
  text-align: center;
}

#todo-list{
  list-style-position: inside;
  margin: 0 auto;
  width: 300px;
  font-size: 25px;
  list-style-type: korean-hangul-formal;
}

#toDoInput{
  border: none;
  border-bottom: solid 3px white;
  background-color: transparent;
  width: 700px;
  height: 100px;
  font-size: 40px;
  color: white;
}

#toDoInput::placeholder{
  color: white;
  text-align: center;
}

#toDoInput:focus{
  outline: none;
}

#quote{
  width: 99%;
  text-align: center;
  position: absolute;
  bottom: 0;
  font-size: 19px;
}

.buttonClass{
  background-color: transparent;
  border: none;
  margin-left: 10px;
}

#weather{
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  font-size: 15px;
}